<div class="container-fluid d-flex justify-content-center">
  <div class="row">
    <div class="col col-6">
      <div class="card text-center mt-3 shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="width: 20rem;">
      <img src="{{imagePath}}" class="img-fluid" alt="avatar">
      <div class="card-body">
        <h5 class="card-title">Login</h5>
      </div>

      <div class="">
        <div class="mb-3 text-start">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="email" placeholder="E-mail">
        </div>
        <div class="mb-3 text-start">
          <label for="password" class="form-label">Senha</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
      </div>
      <a href="#" class="btn btn-primary">Login</a>

      <div class="card-body">
        <a href="#" class="card-link">Esqueceu a senha</a>
      </div>
    </div>
  </div>
</div>
</div>
