h3 {
  width: 80%;
  margin: 10px auto;
}

table {
  width: 80%;
  margin: 10px auto;

  thead {
  }

  tbody {

    tr {
      border: 0.5 solid #bbb;

      td {

        padding: 4px;

        a {
          padding: 5px;
          text-decoration: none;
          outline: 1px solid #642BDE;
          color: #642BDE;
          background-color: #fff;
          margin-left: 5px;
          border-radius: 10px;
          height: 40px;
          width: 30rem;
        }
        a:hover {
          background-color: #642BDE;
          color: #fff;
        }
      }
    }
  }
}

.header {
  display: flex;

  button {
    background-color: #642bde;
    color: #fff;
    border-radius: 15px;
    border: 0;
    width: 7rem;
    height: 2.5rem;
    margin: 10px auto;
    align-self: center;
    justify-content: center;
  }
}
