h3 {
  width: 80%;
  margin: 10px auto;
}

table {
  width: 80%;
  margin: 10px auto;
  thead {
  }

  tbody {

    tr {
      border: 0.5 solid #bbb;
      td {

        a {
          padding: 2px;
          text-decoration: none;
          border: 1px solid rgb(62, 22, 182);
          color: #fff;
          background-color: rgb(137, 110, 218);
          margin: 1px;
          border-radius: 2px;
        }
      }
    }
  }
}

.header {
  display: flex;

  button {
    background-color: #642bde;
    color: #fff;
    border-radius: 15px;
    border: 0;
    width: 7rem;
    height: 2.5rem;
    margin: 10px auto;
    align-self: center;
    justify-content: center;
  }
}
