<div class="header">
  <h3>Lista de usuários</h3>
  <button (click)="novo(null)">Novo</button>
</div>

<table>
  <thead>
    <th>Id</th>
    <th>Nome</th>
    <th>Profissão</th>
    <th>Ações</th>
  </thead>
  <tbody>
    <tr *ngFor="let u of usuarios">
      <td name="id">{{u.id}}</td>
      <td>{{u.nome}}</td>
      <td>{{u.profissao}}</td>
      <td>
        <a (click)="detalhes(u)">Detalhes</a>
        <a >Editar</a>
        <a (click)="delete(u)">Excluir</a>
      </td>
    </tr>
  </tbody>
</table>

<app-modalgeral *ngIf="openModal" [openModalInput]="openModal" (aoClicarModal)="showModal($event)"></app-modalgeral>

<app-modal *ngIf="mostrar" [usuarioInput]="usuario" [mostrarInput]="mostrar" (onAlert)="alerta($event)"></app-modal>
